body{
  margin: 2rem;
}

img{
  max-width: 100%;
  border-radius: 0.5rem;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 1.4rem;
}

.animaLeft{
  transform: translateX(-20px);
  opacity: 0;
  animation: animaLeft .3s forwards;
}

@keyframes animaLeft{
  to{
    transform: initial;
    opacity: initial;
  }
}

.loading{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: #ccc; */
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading{
  to{
    transform: rotate(360deg);
  }
}

.App{
  display: flex;
  min-height: calc(100vh + 10rem);
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}

.content{
  flex: 1;
}